* {
  box-sizing: border-box;
}

body {
  width: 800px;
  margin: auto;
  border: 1px solid black;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hanga {
  padding: 20px;
}
.word-display {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid dodgerblue;
  width: 300px;
  margin: 20px;
}
#hidden-word,
#guessed-letters {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.guess-section {
  padding: 1em;
  margin: 20px 20px;
  border: 1px solid dodgerblue;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.letter-button {
  width: 40px;
  height: 40px;
  font-size: 16px;
  border: 2px solid black;
  background-color: white;
  color: black;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.input-section {
  padding: 1em;
  margin: 20px 20px;
  border: 1px solid dodgerblue;
  width: 300px;
  display: flex;
  gap: 20px;
}
#guess-input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid dodgerblue;
  text-align: center;
}
#guess-button {
  width: 50%;
  border-radius: 30px;
  border: 1px solid darkorchid;
  text-align: center;
  letter-spacing: 0.3em;
}

.hangman-svg #ground,
.hangman-svg #scaffold,
.hangman-svg #head,
.hangman-svg #body,
.hangman-svg #arms,
.hangman-svg #legs {
  display: none;
}

.hangman-svg #ground {
  fill: green;
  fill-opacity: 1;
  stroke-width: 1px;
}
.hangman-svg #scaffold {
  fill: rgb(118, 32, 32);
  stroke-width: 1px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}

.result-message {
  background-color: white;
  height: 10rem;
  width: 30rem;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 10px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: 1000;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
#toggle-speech-button {
  border-radius: 15px;
  margin-top: 5px;
}

.guessed-letters-display {
  margin: 0 20px;
}

.letter-button:disabled {
  color: gray;
  border-color: gray;
  cursor: default;
}

#restart-button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  padding: 0.5rem 1rem;
  border: 2px solid black;
  border-radius: 3px;
}
